/*-------------------------------------------
--------------------- google fonts----------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
    background-color: white;
}
/*----------------------------------------------------
----------------------Header Part Style Start----------
-------------------------------------------------------*/
.header-part{
    display: flex;
    justify-content: center;
    background-color: #161616;
    color:white;
    margin-left:140px;
    margin-right:140px;
    margin-top:50px ;
    padding-left: 106px;
    padding-right: 79px;
    padding-top: 33px;
    border-radius: 30px;
}
.header-part:hover{
    background-color: #232020;;
}
.header-title h1{
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
}
.header-sub-title p{
    font-size: 16px;
    font-style: 'Poppins', sans-serif;
}
.header-sub-title{
    margin-top: -20px;
}

.header-hyper{
    margin-bottom: 70px;
    margin-top: 50px;
}
.header-hyper a{
    text-decoration: none;
    color: white;
    background-color: #e55353;
    padding: 14px 25px;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
}
.header-hyper:hover a{
    background-color: #DD0000;
}
.header-photo img{
    width: 620px;
    height: 700px;
}
/*-----------------------------------------------------------------
-------------------End Header Part Style----------------------------
---------------------------------------------------------------------*/
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 16px;
    margin-top: 130px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 100px;
}
.sub-container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: #161616;
    flex-direction: column;
    height: 312px;
    width: 312px;
    border: 1px solid gray;
    border-radius: 10px;
}
.matches{
    background-color: #fc0000;
    
    width: 252px;
    height: 64px;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}
.matches a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.groups{
    background-color: #ffffff;
    color: black;
    width: 252px;
    height: 64px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    align-content: center;
}
.groups a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.blogs{
    background-color: #ffffff;
    width: 252px;
    height: 64px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}
.blogs a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}
.blogs:hover{
    background-color: #fc0000;
}
.blogs:hover a{
    color: white;
}
.match-group-blog{
    grid-column: 1/2;
}
.flag{
    display: flex;
    gap:10px ;
    margin-top: 53px;
    margin-left: 30px;
    margin-right: 30px;
}
.verses{
    position: relative;
    bottom: -22px;
}
.match1{
    text-align: center;
    grid-column: 2/3;
}
.match2{
    grid-column: 3/4;
    text-align: center;
}
.match3{
    grid-column: 4/5;
    text-align: center;
}
.match4{
    grid-column: 2/3;
    text-align: center;
}
.match5{
    grid-column: 3/4;
    text-align: center;
}
.match6{
    grid-column: 4/5;
    text-align: center;
}
.match7{
    grid-column: 2/3;
    text-align: center;
}
.match8{
    grid-column: 3/4;
    text-align: center;
}
.match9{
    grid-column: 4/5;
    text-align: center;
}
.common{
    border: 1px solid rgb(219, 215, 215);
    border-radius: 15px;
    
}
.match-details{
    margin: 10px;
}
/* -----------------------------
--------Footer Style------------
-----------------------------------*/
footer{
    background-color: #161616;
    text-align: center;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.goal{
    color: white;
    font-size: 40px;
    padding-top: 130px;
}
hr{
    width: 1320px;
    color: #a49797;
}
.footer-details {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    margin: 50px 300px;
    font-size: 16px;
    color: #B9B9B9;
}
.social-link{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 20px;
    margin-left: 650px;
    margin-right: 500px;
    margin-bottom: 50px;
    font-size: 30px;
}
.creator{
    padding-bottom: 100px;
}